<div class="text-center">
    <h1 class="display-4">Формат для аналоговых часов</h1>
    <div id="analogClockBox">
        @* Стрелки для часов *@
        <div class="arrows" id="arrowHours"></div>
        <div class="arrows" id="arrowMinutes"></div>
        <div class="arrows" id="arrowSeconds"></div>
        @* Цифры для часов *@
        <div class="numbers" id="number01">1</div>
        <div class="numbers" id="number02">2</div>
        <div class="numbers" id="number03">3</div>
        <div class="numbers" id="number04">4</div>
        <div class="numbers" id="number05">5</div>
        <div class="numbers" id="number06">6</div>
        <div class="numbers" id="number07">7</div>
        <div class="numbers" id="number08">8</div>
        <div class="numbers" id="number09">9</div>
        <div class="numbers" id="number10">10</div>
        <div class="numbers" id="number11">11</div>
        <div class="numbers" id="number12">12</div>
        <div id="centralHolderOfArrows"></div>
    </div>
</div>