html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Начало кода для оформления валидации (см. https://metanit.com/sharp/aspnetmvc/9.4.php )*/

.field-validation-error { /*Отображение текста ошибки (см. <span> во View() )*/
    color: #b94a48; /*красный цвет текста*/
}

input.input-validation-error { /* отображение рамки с НЕПРАВИЛЬНО введёнными данными*/
    border: 1px solid #b94a48; /*толщина рамки: 1px шириной, сплошная линия обводки, красного цвета*/
}


input.valid { /* отображение рамки с правильно введёнными данными*/
    border: 1px solid #16a085; /*зелёный цвет текста*/
}
/*Окончание кода для оформления валидации*/

/*Начало кода для использования шрифтов*/

#font-Montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/*Окончание кода для использования шрифтов*/

/*Начало кода для стилизации пагинации*/
.pagination{
    display:flex;
    justify-content:center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #007bff; 
    color: #007bff;
    text-decoration: none;
}

.pagination a.active{
    background-color: #007bff;
    color: aliceblue;
}
/*Окончание кода для стилизации пагинации*/