html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Начало кода для оформления валидации (см. https://metanit.com/sharp/aspnetmvc/9.4.php )*/

.field-validation-error { /*Отображение текста ошибки (см. <span> во View() )*/
    color: #b94a48; /*красный цвет текста*/
}

input.input-validation-error { /* отображение рамки с НЕПРАВИЛЬНО введёнными данными*/
    border: 1px solid #b94a48; /*толщина рамки: 1px шириной, сплошная линия обводки, красного цвета*/
}


input.valid { /* отображение рамки с правильно введёнными данными*/
    border: 1px solid #16a085; /*зелёный цвет текста*/
}
/*Окончание кода для оформления валидации*/

/*Начало кода для использования шрифтов*/

#font-Montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/*Окончание кода для использования шрифтов*/

/*Начало кода для стилизации пагинации*/
.pagination{
    display:flex;
    justify-content:center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #007bff; 
    color: #007bff;
    text-decoration: none;
}

.pagination a.active{
    background-color: #007bff;
    color: aliceblue;
}
/*Окончание кода для стилизации пагинации*/

/*Начало кода по работе с кнопками по изменению цветовой схемы*/
.button-container {
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center; /* Центрируем кнопки по вертикали */
    /*gap: 10px;*/ /* Добавляем промежуток между кнопками */
    /*margin: 20px 0;*/ /* Добавляем отступы сверху и снизу */
}

.button {
    width: 200px;
    height: 75px;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 4px 4px 4px 4px;
    border-radius: 9px; /*закруглённые углы*/
}

body { /*Исходное оформление для body. Да, я знаю,что можно поставить цвет как в dayMode, но я решил показать функциональность*/
    background-color: white;
    color: black;
}

.dayMode {
    background-color: #f5df4d;
    color: black;
}

.nightMode {
    background-color: #46484a; /*На чёрном цвете (#010B13) плохо видны буквы логотипа*/
    color: white;
}

.eveningMode {
    background-color: #fa8128;
    color: black; /*На цвете #fa8128 плохо видны буквы с цветом darkgray*/
}

.morningMode {
    background-color: #72f4d7;
    color: darkblue;
}
/*см. про кнопки https://html5css.ru/css/css3_buttons.php */
/*см. про ВОЗМОЖНОСТЬ реализации onclick в CSS https://www.geeksforgeeks.org/how-to-add-onclick-effect-using-css/ Тут будет реализация через HTML*/
.buttonDayMode {
    border: 2px solid #f5df4d;
    color: #f5df4d;
}

    .buttonDayMode:hover {
        color: white;
        background-color: #f5df4d;
        transition-duration: 0.9s;
    }

.buttonNightMode {
    border: 2px solid #46484a; /*#010B13*/
    color: #46484a; /*#010B13*/
}

    .buttonNightMode:hover {
        color: white;
        background-color: #46484a; /*#010B13*/
        transition-duration: 0.9s;
    }

.buttonEveningMode {
    border: 2px solid #fa8128;
    color: #fa8128;
}

    .buttonEveningMode:hover {
        color: white;
        background-color: #fa8128;
        transition-duration: 0.9s;
    }

.buttonMorningMode {
    border: 2px solid #72f4d7;
    color: #72f4d7;
}

    .buttonMorningMode:hover {
        color: white;
        background-color: #72f4d7;
        transition-duration: 0.9s;
    }

/*Окончание кода по работе с элементами страницы*/

/*Начало кода оформления navbar-элементов*/
.nav-link {
    transition: background-color 0.9s ease;  /*Плавный переход цвета */
}

    .nav-link:hover {
        background-color: #007bff;  /*Цвет фона при наведении */
        color: white;  /*Цвет текста при наведении */
    }
/*Окончание кода оформления navbar-элементов*/

/*Начало кода оформления navbar и navbar2*/
#navbar, #navbar2 {
    border: 0;
    margin: 0;
}

.navbar-morning .navbar2-morning {
    color: white;
    background-color: #72f4d7;
}

.navbar-day .navbar2-day {
    color: white;
    background-color: #f5df4d;
}

.navbar-evening .navbar2-evening {
    color: white;
    background-color: #fa8128;
}

.navbar-night .navbar2-night {
    color: white;
    background-color: #46484a;
}
/*Окончание кода оформления navbar и navbar2*/

