@model User
@section scripts
{
	@*Валидация на стороне клиента осуществляется этими скриптами*@
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<form asp-action="Create" asp-controller="Registration" asp-antiforgery="true">
	<div class="col-lg-7">
		<label class="form-label">Введите Login</label>
		<input class="form-control" type="text" asp-for="Login" />
		<span asp-validation-for="Login"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Введите Password</label>
		<input class="form-control" type="password" asp-for="Password" />
		<span asp-validation-for="Password"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Повторите пароль</label>
		<input class="form-control" type="password" asp-for="ConfirmPassword" />
		<span asp-validation-for="ConfirmPassword"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Введите E-mail</label>
		<input class="form-control" type="email" asp-for="Email" />
		<span asp-validation-for="Email"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Введите уровень позитивности</label>
		<input class="form-control" type="number" asp-for="SelectedPositiveLevel" />
		<span asp-validation-for="SelectedPositiveLevel"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<input class="btn btn-outline-info" type="submit" value="Зарегистрировать" />
	</div>
</form>
<br />
<p>@ViewBag.SuccessRegistrationMessage</p>
@*смотри https://metanit.com/sharp/aspnet5/19.1.php оформление View(), а https://metanit.com/sharp/aspnet5/19.3.php смотри валидацию со стороны сервера*@
@* я разбиралс¤ с оформление валидирующей модели согласно *@
@* https://metanit.com/sharp/aspnet5/10.5.php , https://csharp.webdelphi.ru/modeli-v-asp-net-core-mvc-validaciya-na-storone-klienta/ *@
@*Украшение валидирующей модели см. https://metanit.com/sharp/aspnetmvc/9.4.php *@