@model User
@section scripts
{
	@*Валидация на стороне клиента осуществляется этими скриптами*@
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<form asp-action="InputLoginPassword" asp-controller="Authentication" asp-antiforgery="true">
	<div class="col-lg-7" style="margin: 0 auto;">
		<label class="form-label">Введите Login</label>
		<input class="form-control" type="text" asp-for="Login" />
		<span asp-validation-for="Login"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7" style="margin: 0 auto;">
		<label class="form-label">Введите Password</label>
		<input class="form-control" type="password" asp-for="Password" />
		<span asp-validation-for="Password"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7" style="margin: 0 auto;">
		<input class="btn btn-outline-info" type="submit" value="Вход" />
	</div>
</form>
<br />
@* Кнопка для переадресации в контроллер Registration метода Create *@
@*Переадресует на localhost:7000/Registration/Create?, а не на localhost:7000/Registration/Create (т.е. без знака вопроса в конце)*@
@*Это исправляется так:*@
@*<form asp-action="Create" asp-controller="Registration" method="post">*@
@*Однако переадресация сразу же на post-метод выглядит визуально очень некрасиво, поэтому я решил ничего не менять*@
<form asp-action="Create" asp-controller="Registration" method="get">
	<div class="col-lg-7" style="margin: 0 auto;">
		<button type="submit" class="btn btn-success">Регистрация</button>
	</div>
</form>
<br />
@* Кнопка для переадресации в контроллер Authentication метода RestorePassword *@
<form asp-action="RestorePasswordAndPositiveLevel" asp-controller="Authentication" method="get">
	<div class="col-lg-7" style="margin: 0 auto;">
		<button type="submit" class="btn btn-warning">Обновление пароля и уровня позитивности</button>
	</div>
</form>
<br />
<p>@ViewBag.FailedAuthentificationMessage</p>
<br />
