@model User
@section scripts
{
	@*Валидация на стороне клиента осуществляется этими скриптами*@
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<form asp-action="RestorePasswordAndPositiveLevel" asp-controller="Authentication" asp-antiforgery="true">
	<div class="col-lg-7">
		<label class="form-label">Введите Login</label>
		<input class="form-control" type="text" asp-for="Login" />
		<span asp-validation-for="Login"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Введите E-mail</label>
		<input class="form-control" type="email" asp-for="Email" />
		<span asp-validation-for="Email"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Введите новый Password</label>
		<input class="form-control" type="password" asp-for="Password" />
		<span asp-validation-for="Password"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Повторите новый Password</label>
		<input class="form-control" type="password" asp-for="ConfirmPassword" />
		<span asp-validation-for="ConfirmPassword"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<label class="form-label">Введите уровень позитивности</label>
		<input class="form-control" type="number" asp-for="SelectedPositiveLevel" />
		<span asp-validation-for="SelectedPositiveLevel"></span> @*Строка для отображения ошибок валидации со стороны сервера*@
	</div>
	<br />
	<div class="col-lg-7">
		<input class="btn btn-outline-info" type="submit" value="Подтвердить изменения" />
	</div>
</form>
<br />
@* Создавай View() с полями login,email, password, confirmpassword, positivlevel *@
<p>@ViewBag.SuccessUpdateMessage</p> @* Это должно остаться, однако оно не успевает отобразиться *@